extends ../layouts/default

block opengraph
	title= title || '常見問題 | 奧革設計 - 創業公司的設計夥伴'
	meta(property='og:site_name', content='奧革設計 - 創業公司的設計夥伴')
	meta(property='og:type', content='website')
	meta(property='og:title', content='奧革設計 - 創業公司的設計夥伴')
	meta(property='og:description', content='奧革設計是一家使用者介面設計及使用者經驗諮詢公司，我們擅長透過設計新思維創造最好的產品體驗。')
	meta(property='og:image', content='http://www.ogdesign.tw/images/home-cover.jpg')
	meta(property='og:locale', content='zh_TW')
	base(href="/#")

block content
	.qa-page(ng-controller="QAController")
		.banner.medium(style='background-image: url(images/bg.jpg)')
			.container.textAlign-center
				.info
					h2.quote.fontWeight-regular 我們整理了一些常見問題<br>瞭解彼此可能的合作方式
		
		section.qas
			.container
				each question, index in data.questions
					.qa(ng-class="{'expand' : expand#{index + 1}}")
						h2(ng-click="expand#{index + 1} = !expand#{index + 1}") #{question.title}
						i.material-icons keyboard_arrow_down
						.qa-content!= question.content
						
		section.cta.mac-devices
			.content
				h2 需要 UI / UX 設計上的協助嗎？<br>我們期待與您聊聊彼此的想法！
				.marginBottom-m
				a.button.button-l.button-primary(href="/contactus") 聯絡我們
				.marginBottom-m
				p 您有專案時程或預算上的問題嗎？查看
					a(href='/qa') 常見問題問與答
					| 。

block js
