extends ../layouts/default

block opengraph
	title= title || '成功案例 - 奧革設計 - 創業公司的設計夥伴'
	meta(property='og:site_name', content='奧革設計 - 創業公司的設計夥伴')
	meta(property='og:type', content='website')
	meta(property='og:title', content='奧革設計 - 創業公司的設計夥伴')
	meta(property='og:description', content='奧革設計是一家使用者介面設計及使用者經驗諮詢公司，我們擅長透過設計新思維創造最好的產品體驗。')
	meta(property='og:image', content='http://www.ogdesign.tw/images/home-cover.jpg')
	meta(property='og:locale', content='zh_TW')
	base(href="/#")

block content
	.banner.medium(style='background-image: url(images/bg4.jpg)')
		.container.textAlign-center
			.info
				h2.quote.fontWeight-regular 優秀的設計贏得用戶，<br>注重細節的產品可以為用戶帶來難忘的體驗。

	.tabs
		a.tab(class=(!data.categoryId)? "active" : "", href="/showcases") 全部
		each category in data.categories
			a.tab(class=(data.categoryId==category.slug)? "active" : "", href="/showcases/#{category.slug}") #{category.name}

	//- ============ 設計案例 =============
	section.grey
		.row.showcases
			each portfolio in data.portfolios
				.col-md-4
					.showcase
						.thumbnail
							img(src='#{portfolio.cover.url}', alt='#{portfolio.title}')
						.intro
							h3 #{portfolio.title}
							p #{portfolio.description}

	section.cta.mac-devices
		.content
			h2 需要 UI / UX 設計上的協助嗎？<br>我們期待與您聊聊彼此的想法！
			.marginBottom-m
			a.button.button-l.button-primary(href="/contactus") 聯絡我們
			.marginBottom-m
			p 您有專案時程或預算上的問題嗎？查看
				a(href='/qa') 常見問題問與答
				| 。

block js
	